.t {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: t 4s infinite ease;
}

.t-box {
  width: 200px;
  height: 200px;
  position: relative;
}

@keyframes t {
  0%,
  100% {
    top: 100px;
    left: 0;
    background-color: blue;
  }
  25% {
    top: 100px;
    left: 100px;
    background-color: green;
  }
  50% {
    top: 0;
    left: 100px;
    background-color: yellow;
  }
  75% {
    top: 0;
    left: 0;
    background-color: red;
  }
}
